.homePage {
    min-height: 100vh;

    .section {
        background-color: rgba($color: #114344, $alpha: 0.3);

        &:not(:first-child) {
            margin-top: 4rem;
        }
    }

    &__heading {
        display: inline-block;
        background-color: rgb(6, 75, 75);
        padding: 1rem 6rem;
        font-size: 2rem;

        &:hover {
            cursor: pointer;
        }
    }


}