<footer class="footer">
    <div class="footer__top">
        <div class="logo footer__item">
            <img src="/img/logo.png" alt="logo">
        </div>
        <ul class="content__box footer__item">
            <li class="conten__item">Giới thiệu</li>
            <li class="conten__item">Facebook</li>
            <li class="conten__item">Youtube</li>
            <li class="conten__item">Tiktok</li>
        </ul>
        <ul class="content__box footer__item">
            <li class="conten__item">Hỗ trợ</li>
            <li class="conten__item">Hướng dẫn nạp tiền</li>
            <li class="conten__item">Hướng dẫn tải</li>
            <li class="conten__item">Xem thêm</li>
        </ul>
        <div class="qrcode footer__item">
            <img src="/img/qrcode.png" alt="qrcode" class="logo">
        </div>
    </div>
    <p class="copyright">Copyright © <span>Le Si Toan Dz</span></p>
</footer>