<header class="header">
    <img src="/img/logo.png" alt="logo" class="logo">
    <ul class="feature">
        <li clss="feature-item feature-1">option-1</li>
        <li clss="feature-item feature-2">option-2</li>
        <li clss="feature-item feature-3">option-3</li>
        <li clss="feature-item feature-4">option-4</li>
    </ul>
    <ul class="signup-login">
        <li class="sign-up">sign up</li>
        <li class="login">login</li>
    </ul>
    <img src="/img/avatar.png" alt="avatar" class="avatar">
</header>