<header class="header">
    <div class="header__top">
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="search__box">
            <input class="search__input" type="text" placeholder="Nhập tên tệp...">
            <button class="search__btn">Search</button>
        </div>
        <ul class="login__box">
            <a class="login__item" href="/sign-in">Sign in</a>
            <a class="login__item" href="/sign-up">Sign up</a>
        </ul>
    </div>
    <nav class="header__nav">
        <li class="nav__item">BKDN</li>
        <li class="nav__item">BKHN</li>
        <li class="nav__item">BKHCM</li>
        <li class="nav__item">KHTN</li>
        <li class="nav__item">CNTT</li>
        <li class="nav__item">BKDN</li>
        <li class="nav__item">BKHN</li>
        <li class="nav__item">BKHCM</li>
        <li class="nav__item">KHTN</li>
        <li class="nav__item">CNTT</li>
    </nav>
</header>