<div class="detailFilePage">
    <div class="left-content">
        <h3 class="title-doc">Cau truc du lieu va giai thuat</h3>
        <div class="view-doc">
            <iframe src="/pdf/aaa.pdf" frameBorder="0" scrolling="auto" ></iframe>
        </div>
    </div>
    <div class="right-content">
        right content
    </div>
</div>