<div class="docs-page">
    <h2 class="docs-page__heading">Kết quả tìm kiếm cho: <%=query%>
    </h2>
    <div class="docs-page__container">
    </div>
    <ul class="docs-page__pagination">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>></li>
    </ul>
</div>