<div class="homePage">
    <div class="section">
        <h2 class="homePage__heading">CÔNG NGHỆ THÔNG TIN</h2>
        <div class="type-box">
            <% for (var i=0; i <5; i++ ) { %>
                <div class="card type-box__item">
                    <div class="card__img">
                        <img src="/img/ex-1.jpg" alt="docs-img">
                    </div>
                    <div class="card__text">
                        <h4>
                            <%= data.cntt[i].name %>
                        </h4>
                    </div>
                    <a href="/docs/<%=data.cntt[i].url %>" class="card__btn">See all</a>
                </div>
                <% } %>
        </div>
    </div>

    <div class="section">
        <h2 class="homePage__heading">ĐIỆN TỬ VIỄN THÔNG</h2>
        <div class="type-box">
            <% for (var i=0; i <5; i++ ) { %>
                <div class="card type-box__item">
                    <div class="card__img">
                        <img src="/img/ex-1.jpg" alt="docs-img">
                    </div>
                    <div class="card__text">
                        <h4>
                            <%= data.dtvt[i].name %>
                        </h4>
                    </div>
                    <a href="#" class="card__btn">See all</a>
                </div>
                <% } %>
        </div>
    </div>

    <div class="section">
        <h2 class="homePage__heading">CƠ ĐIỆN TỬ</h2>
        <div class="type-box">
            <% for (var i=0; i <5; i++ ) { %>
                <div class="card type-box__item">
                    <div class="card__img">
                        <img src="/img/ex-1.jpg" alt="docs-img">
                    </div>
                    <div class="card__text">
                        <h4>
                            <%= data.cdt[i].name %>
                        </h4>
                    </div>
                    <a href="#" class="card__btn">See all</a>
                </div>
                <% } %>
        </div>
    </div>
</div>