<div class="homePage">
    <div class="search">
        <input placeholder="search" type="text" class="search__input">
        <button class="search__btn">Search</button>
    </div>

    <!-- it -->
    <h2 class="heading-h2">Cong nghe thong tin</h2>
    <div class="box">
        <% for (let i=0; i < data.length; i++) { %>
            <div class="box__item">
                <div class="box__item-text">
                    <h4 class="box__item-text-h4">
                        <%= data[i].name %>
                    </h4>
                </div>
                <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
                <button class="box__item-btn">See all</button>
            </div>
            <% } %>
    </div>
    <!-- end it -->

    <!-- other -->
    <h2 class="heading-h2">cac mon ki thuat</h2>

    <div class="box">
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
    </div>
    <!-- end other -->

    <!-- other -->
    <h2 class="heading-h2">cac mon ki thuat</h2>

    <div class="box">
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
        <div class="box__item">
            <div class="box__item-text">
                <h4 class="box__item-text-h4">lap trinh huong doi tuong</h4>
            </div>
            <img src="/img/ex-1.jpg" alt="docs-img" class="box__item-img">
            <button class="box__item-btn">See all</button>
        </div>
    </div>
    <!-- end other -->
</div>