<div class="login-page">
    <div class="left-content"></div>
    <form class="form-login">
        <h4 class="form-login__heading">Sign Up</h4>
        <input class="form-login__email" type="text" placeholder="Enter user name...">
        <input class="form-login__email" type="email" placeholder="Enter email...">
        <input class="form-login__password" type="password" placeholder="Enter password...">
        <input class="form-login__password" type="password" placeholder="Enter again password...">
        <button class="form-login__btn">sign Up</button>
        <div class="form-login__feature">
            <span>or sign up with</span><br>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <span class="form-login__forgot-pw">If you have account <a href="login">Signin</a></span>
    </form>
</div>