<div class="login-page">
    <div class="left-content"></div>
    <form class="form-login">
        <h4 class="form-login__heading">Signin</h4>
        <input class="form-login__email" type="email" placeholder="Enter email or phone...">
        <input class="form-login__password" type="password" placeholder="Enter password...">
        <button class="form-login__btn signin__btn">signin</button>
        <div class="form-login__feature">
            <span>or signin with</span><br>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <span class="form-login__forgot-pw">Forgot <a href="#">Password</a>?<br>Don't have an account? <a
                href="sign-up">Sign
                up</a></span>
    </form>
</div>