<div class="user-page">
    <div class="user-page__side-bar">
        <div class="feature" name="user-info">
            <i class="fa-solid fa-user feature__icon"></i>
            <h4 class="feature__heading">Thôn tin cá nhân</h4>
        </div>
        <div class="feature" name="change-pw">
            <i class="fa-solid fa-key feature__icon"></i>
            <h4 class="feature__heading">Đổi mật khẩu</h4>
        </div>
        <div class="feature" name="recharge">
            <i class="fa-solid fa-money-check-dollar feature__icon"></i>
            <h4 class="feature__heading">Nạp tiền</h4>
        </div>
        <div class="feature" name="bought-docs">
            <i class="fa-solid fa-file feature__icon"></i>
            <h4 class="feature__heading">Tài liệu đã mua</h4>
        </div>
        <div class="feature" name="soild-docs">
            <i class="fa-solid fa-handshake feature__icon"></i>
            <h4 class="feature__heading">Bán tài liệu</h4>
        </div>
        <div class="log-out">
            <i class="fa-solid fa-right-from-bracket feature__icon"></i>
            <h4 class="feature__heading">Đăng Xuất</h4>
        </div>



    </div>
    <div class="user-page__contents">

        <div class="user-info user-page__content">
            <h3 class="content__heading">Thông tin cá nhân</h3>
            <ul class="user-info__list">
                <li class="user-info__item">
                    <span class="keyword">Tên: </span>
                    <span class="value">
                        <%= user.userName %>
                    </span>
                </li>
                <li class="user-info__item">
                    <span class="keyword">Gmail: </span>
                    <span class="value">
                        <%= user.email %>
                    </span>
                </li>
                <li class="user-info__item">
                    <span class="keyword">Số dư: </span>
                    <span class="value">
                        <% if (user.money) { %>
                            <%= user.money %> (VNĐ)
                                <% } else { %>
                                    0 (VNĐ)
                                    <% } %>
                    </span>
                </li>
            </ul>
        </div>

        <div class="change-pw user-page__content hidden ">
            <h3 class="content__heading">Đổi mật khẩu</h3>
            <form action="#">
                <div class="item">
                    <label for="current-pw">Mật khẩu hiện tại:</label>
                    <input type="text" name="current-pw" class="current-pw" placeholder="Nhập mật khẩu hiện tại...">
                </div>
                <div class="item">
                    <label for="new-pw">Mật khẩu mới:</label>
                    <input type="text" name="new-pw" class="new-pw" placeholder="Nhập mật khẩu mới...">
                </div>
                <div class="item">
                    <label for="new-pw-confirm">Xác nhận mật khẩu mới:</label>
                    <input type="text" name="new-pw-confirm" class="new-pw-confirm"
                        placeholder="Xác nhận mật khẩu mới...">
                </div>
                <button class="btn__change-pw">Save</button>
            </form>
        </div>

        <div class="recharge user-page__content hidden">
            <h3 class="content__heading">Nạp tiền</h3>
            <h2 style="text-align: center;">Chưa có dữ liệu</h2>
        </div>

        <div class="bought-docs user-page__content hidden">
            <h3 class="content__heading">Tài liệu đã mua</h3>
            <h2 style="text-align: center;">Chưa có dữ liệu</h2>
        </div>

        <div class="soild-docs recharge user-page__content hidden">
            <h3 class="content__heading">Bán tài liệu</h3>
            <h2 style="text-align: center;">Chưa có dữ liệu</h2>
        </div>

    </div>
</div>